<div class="links">
  <div class="links-header">
    <h1><%= link_to "Links", "/links" %></h1>
    <p>
      Here goes some template text I'll change as soon as I get at least
      one hour of sleep.
    </p>
  </div>

  <div class="reading">
    <h2 id="reading">I read...</h2>
    <ul>
      <li><%= link_to 'Aurellum', 'http://aurellem.org/' %></li>
      <li><%= link_to 'Bret Victor', 'http://worrydream.com/' %></li>
      <li><%= link_to 'Gwern.net', 'http://www.gwern.net/' %></li>
      <li><%= link_to 'Hacker News', 'https://news.ycombinator.com/' %></li>
      <li><%= link_to 'Hackery, Math and Design', 'http://acko.net/' %></li>
      <li><%= link_to 'Mike Bostock', 'http://bost.ocks.org/mike/' %></li>
      <li><%= link_to "ntlk's blog", 'http://ntlk.net/' %></li>
      <li><%= link_to 'N+1 magazine', 'https://nplusonemag.com/' %></li>
      <li><%= link_to 'Paul Graham', 'http://paulgraham.com/' %></li>
    </ul>
  </div>

  <div class="listening">
    <h2 id="listening">I listen to...</h2>
    <ul>
      <li><%= link_to 'a16z Podcast', 'http://a16z.com/tag/podcast/' %></li>
      <li><%= link_to 'Giant Robots Smashing Into Other Giant Robots', 'http://podcasts.thoughtbot.com/giantrobots' %></li>
      <li><%= link_to 'RadioLab', 'http://www.radiolab.org/' %></li>
      <li><%= link_to 'Surculus Fructum', 'http://surculusfructum.com/' %></li>
      <li><%= link_to 'The Changelog', 'http://thechangelog.com/podcast/' %></li>
    </ul>
  </div>

  <div class="watching">
    <h2 id="watching">I watch...</h2>
    <ul>
      <li><%= link_to 'Confreaks', 'https://www.youtube.com/user/Confreaks' %></li>
      <li><%= link_to 'Engineer Guy', 'https://www.youtube.com/user/engineerguyvideo' %></li>
      <li><%= link_to "It's Okay To Be Smart", 'https://www.youtube.com/user/itsokaytobesmart' %></li>
      <li><%= link_to 'Melodysheep', 'https://www.youtube.com/channel/UCoxcjq-8xIDTYp3uz647V5A' %></li>
      <li><%= link_to 'Numberphile', 'https://www.youtube.com/channel/UCR9sFzaG9Ia_kXJhfxtFMBA' %></li>
      <li><%= link_to 'stretta', 'https://www.youtube.com/channel/UC4YjqFNB5NYnv7KEWHoMw3A' %></li>
      <li><%= link_to 'TED', 'https://www.youtube.com/channel/UCAuUUnT6oDeKwE6v1NGQxug' %></li>
      <li><%= link_to "thoughtbot's YouTube channel", 'https://www.youtube.com/user/ThoughtbotVideo' %></li>
      <li><%= link_to 'Ville-Matias Heikkilä', 'https://www.youtube.com/channel/UCRRqeqAXdCC8GgatzHO3VWA' %></li>
      <li><%= link_to 'Vi Hart', 'https://www.youtube.com/channel/UCOGeU-1Fig3rrDjhm9Zs_wg' %></li>
    </ul>
  </div>
</div>
